#h2_titulo_pagina_inicial{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  max-width: 100%;
  color: #707070;
  font-size: 26pt;
}
@media only screen and (max-device-width: 640px){
  #h2_titulo_pagina_inicial{
    margin-top: 0px;
    font-size: 18pt;
  }
}
#div_instrucoes_do_sistema{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  max-width: 100%;
  color: #424242;
  font-size: 14pt;
}
@media only screen and (max-device-width: 640px){
  #div_instrucoes_do_sistema{
    margin-top: 18px;
    font-size: 12pt;
  }
}
#div_instrucoes_do_sistema>p{
  margin-top: 26px;
  line-height: 28px;
  text-indent: 70px;
}
@media only screen and (max-device-width: 640px){
  #div_instrucoes_do_sistema>p{
    margin-top: 18px;
    line-height: 22px;
    text-indent: 35px;
  }
}
#div_instrucoes_do_sistema>p:first-child{
  margin-top: 0px;
}
